<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <% if @category %>
      <li class="breadcrumb-item"><%= link_to @category.name, category_path(@category) %></li>
    <% end %>
    <% if @product %>
      <li class="breadcrumb-item"><%= link_to 'Products', products_path %></li>
      <% @product.categories.each do |category| %>
        <li class="breadcrumb-item"><%= link_to category.name, category_path(category) %></li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
    <% end %>
    <% if controller_name == 'orders' %>
      <li class="breadcrumb-item"><%= link_to 'Orders', orders_path %></li>
      <% if action_name == 'show' %>
        <li class="breadcrumb-item active" aria-current="page">Order Details</li>
      <% end %>
    <% end %>
    <% if controller_name == 'carts' %>
      <li class="breadcrumb-item"><%= link_to 'Cart', cart_path %></li>
      <% if action_name == 'checkout' %>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      <% end %>
    <% end %>
    <% if controller_name == 'static_pages' %>
      <% if action_name == 'contact' %>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
      <% elsif action_name == 'about' %>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      <% end %>
    <% end %>
  </ol>
</nav>
